<div class="col-md-6 col-md-offset-3">
  <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name = "email" type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="model.email" #email="ngModel" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input name = "password" type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>

    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>
