<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Stock Picker!</h1>
    <p class="lead text-muted">Tell us which stock you want information about!</p>
    <app-stock-ticker-form></app-stock-ticker-form>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of portfolioItems">
        <app-portfolio-item [item]="item"></app-portfolio-item>
      </div>
    </div>
  </div>
</div>


