<form class="form-signin"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)">

  <img class="mb-4"
       src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
       alt=""
       width="72"
       height="72">

  <h1 class="h3 mb-3 font-weight-normal">What Stock would you like to look up?</h1>

  <label for="stockTicker" class="sr-only">Symbol:</label>

  <input name="ticker"
         type="ticker"
         id="stockTicker"
         class="form-control"
         placeholder="MSFT"
         [(ngModel)]="model.ticker"
         #ticker="ngModel"
         required
         autofocus>

  <button class="btn btn-lg btn-primary btn-block">Lookup</button>
</form>
